/*
 Theme Name:  HHMarine
 Theme URI:
 Description:   Divi Child theme for H &H Marine
 Author URI:   https://reacmaine.com
 Template:     Divi
 Version:      1.0.0
*/
/*****Add any custom CSS below this line*****/
/* ----------- Colors ---------------------------------- */
/* ----------- end Colors ----------- */
/* basic css stuff */
.reach-responsive-video {
  position: relative;
  padding-bottom: 50.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1em; }
  .reach-responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* **** media **** */
