/* basic css stuff */
.reach-responsive-video {
	position: relative;
	padding-bottom: 50.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 1em;
	iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
	}
}
.et_pb_fullwidth_header.hhm-header-width100 {
	height: inherit;
	.et_pb_fullwidth_header_container.center {
		width: 100%!important;
			.header-content {
				width: 100%!important;
				margin-top: 0px;
				margin-bottom: 0px;
			}
	}
}
