/* **** media **** */
// Divi breakpts
@media only screen and (min-width: 1024px) {
  body.single-post {
    #main-content {
      #content-area #left-area {
        article {
          width: 60%;
        }
      }
    }
  }
}
@media all and (max-width:1200px) and (min-width: 981px) {
  .et_header_style_split #main-header {
    #top-menu {
      li.centered-inline-logo-wrap {
        height: 113px!important;
      }
    }
  }
  #top-menu {
    li.centered-inline-logo-wrap {
      width: 100%!important;
      margin-bottom: 0px!important;
    }
  }
}
// non-nav menu
@media only screen and (min-width: 981px) {
  .et_header_style_split #main-header {
    #top-menu {
      li.centered-inline-logo-wrap {
        height: 113px!important;
      }
    }
  }
  .et_header_style_split #et-top-navigation{
      padding-top: 30px!important;
  }

}

@media all and (max-width: 980px) { // break for nav menu,  woo & footer widgtes
  .reach-row-stackorder {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap; /* Safari 6.1+ */
		flex-wrap: wrap;
		.reach-second-at-mobile {
			-webkit-order: 2;
			order: 2;
		}
		.reach-first-on-mobile {
			-webkit-order: 1;
			order: 1;
		}
	}
  .et_pb_gutters3.et_pb_footer_columns1 #footer-widgets .footer-widget {
    width: 100%!important;
    margin: auto!important;
  }
  #footer-widgets {
    h4 {
      font-size: 30px;
    }
  }
}
@media only screen and (max-width: 960px) {

}
@media only all  and (min-width: 768px) { // bigger than mobile
  .et_pb_posts.hhm-blog-img-right {  // make image on right, text & excerpt on left;
      article.et_pb_posts:last-child {
        margin-bottom: 0px;
      }
      article.et_pb_post {
        .entry-featured-image-url {
          width: 40%;
          float: right;
          margin-bottom: 0px;
          margin-top: -1px;
          margin-left: 20px; // push text over a little
        }

      }
  }
}
@media only all  and (max-width: 767px) {
  body.single-post {
    #main-content {
      #content-area #left-area {
        article {
          margin: 0px;
        }
      }
    }
  }
}

@media all and (max-width: 479px) {
  body.single-post {
    #main-content {
      #content-area #left-area {
        article {
          padding: 0px 20px 20px 20px;
        }
      }
    }
  }
}
