/*
 Theme Name:  HHMarine
 Theme URI:
 Description:   Divi Child theme for H &H Marine
 Author URI:   https://reacmaine.com
 Template:     Divi
 Version:      1.0.0
*/
/*****Add any custom CSS below this line*****/
/* ----------- Colors ---------------------------------- */
/* ----------- end Colors ----------- */
/* basic css stuff */
.reach-responsive-video {
  position: relative;
  padding-bottom: 50.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1em; }
  .reach-responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.et_pb_fullwidth_header.hhm-header-width100 {
  height: inherit; }
  .et_pb_fullwidth_header.hhm-header-width100 .et_pb_fullwidth_header_container.center {
    width: 100% !important; }
    .et_pb_fullwidth_header.hhm-header-width100 .et_pb_fullwidth_header_container.center .header-content {
      width: 100% !important;
      margin-top: 0px;
      margin-bottom: 0px; }

#et_mobile_nav_menu .select_page {
  color: transparent; }

#top-menu li a,
#et_mobile_nav_menu li a {
  line-height: 1.4em; }

body.home #main-footer {
  margin-top: -400px; }
  body.home #main-footer #footer-widgets {
    padding-top: 0px; }

#main-footer #footer-widgets .et_pb_widget {
  width: 100%; }
#main-footer #footer-bottom {
  position: relative; }

/* **** media **** */
@media all and (max-width: 1200px) and (min-width: 981px) {
  #top-menu li.centered-inline-logo-wrap {
    width: 100% !important;
    margin-bottom: 0px !important; } }
@media only screen and (min-width: 981px) {
  .et_header_style_split #et-top-navigation {
    padding-top: 30px !important; } }
@media all and (max-width: 980px) {
  .et_pb_gutters3.et_pb_footer_columns1 #footer-widgets .footer-widget {
    width: 100% !important;
    margin: auto !important; }

  #footer-widgets h4 {
    font-size: 30px; } }
