/*
 Theme Name:  HHMarine
 Theme URI:
 Description:   Divi Child theme for H &H Marine
 Author URI:   https://reacmaine.com
 Template:     Divi
 Version:      1.0.0
*/
/*****Add any custom CSS below this line*****/
/* ----------- Colors ---------------------------------- */
/* ----------- end Colors ----------- */
/* basic css stuff */
.reach-responsive-video {
  position: relative;
  padding-bottom: 50.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 1em; }
  .reach-responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.et_pb_fullwidth_header.hhm-header-width100 {
  height: inherit; }
  .et_pb_fullwidth_header.hhm-header-width100 .et_pb_fullwidth_header_container.center {
    width: 100% !important; }
    .et_pb_fullwidth_header.hhm-header-width100 .et_pb_fullwidth_header_container.center .header-content {
      width: 100% !important;
      margin-top: 0px;
      margin-bottom: 0px; }

.et_pb_posts .post-content a.more-link {
  display: inline-block;
  background-color: #004b9b;
  color: white;
  padding: .3em 1em;
  text-transform: uppercase; }
.et_pb_posts .post-content a.more-link:hover {
  color: #000000;
  background: #cbb677; }

/* styling for tables in tablepress */
.tablepress-table-name {
  font-family: 'Muli',Helvetica,Arial,Lucida,sans-serif;
  text-transform: uppercase;
  font-weight: bold; }

table.tablepress tr.odd td {
  background-color: #e6e6e6; }

table.tablepress.hmm-hover-yellow .row-hover tr:hover td {
  background-color: #efe4c6 !important; }

table.tablepress.hhm-col1-upper tr td.column-1 {
  text-transform: uppercase; }

table.tablepress.hhm-col2-right tr td.column-2 {
  text-align: right; }

table.tablepress.hmm-maxw-450 {
  max-width: 450px !important; }

#et_mobile_nav_menu .select_page {
  color: transparent; }

#top-menu li a,
#et_mobile_nav_menu li a {
  line-height: 1.4em; }

body.home #main-footer {
  margin-top: -400px; }
  body.home #main-footer #footer-widgets {
    padding-top: 0px; }

.hhm-blog-img-right .entry-title {
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px; }
.hhm-blog-img-right .post-content {
  padding-left: 20px; }
  .hhm-blog-img-right .post-content a.more-link {
    margin-top: 20px;
    margin-bottom: 20px; }

article.et_pb_post .hhm_caption {
  font-size: .9em;
  font-weight: 300;
  text-align: right;
  font-color: #004b9b;
  font-style: italic;
  margin-top: -8px; }

#main-footer #footer-widgets .et_pb_widget {
  width: 100%; }
#main-footer #footer-bottom {
  position: relative; }

/* **** media **** */
@media all and (max-width: 1200px) and (min-width: 981px) {
  #top-menu li.centered-inline-logo-wrap {
    width: 100% !important;
    margin-bottom: 0px !important; } }
@media only screen and (min-width: 981px) {
  .et_header_style_split #et-top-navigation {
    padding-top: 30px !important; } }
@media all and (max-width: 980px) {
  .et_pb_gutters3.et_pb_footer_columns1 #footer-widgets .footer-widget {
    width: 100% !important;
    margin: auto !important; }

  #footer-widgets h4 {
    font-size: 30px; } }
@media only all and (min-width: 768px) {
  .et_pb_posts.hhm-blog-img-right article.et_pb_posts:last-child {
    margin-bottom: 0px; }
  .et_pb_posts.hhm-blog-img-right article.et_pb_post .entry-featured-image-url {
    width: 40%;
    float: right;
    margin-bottom: 0px;
    margin-top: -1px;
    margin-left: 20px; } }
