/*
 Theme Name:  HHMarine
 Theme URI:
 Description:   Divi Child theme for H &H Marine
 Author URI:   https://reacmaine.com
 Template:     Divi
 Version:      1.0.0
*/

/*****Add any custom CSS below this line*****/

@import "partials/colors";
@import "partials/basics";
// header
#et_mobile_nav_menu{
  .select_page {
    color: transparent;
  }
}
#top-menu li a,
#et_mobile_nav_menu li a {
  line-height: 1.4em;
}

// content
body.home {
  #main-footer {
    // only using one column footer - want it center
    margin-top: -400px;
    #footer-widgets {
      padding-top: 0px;
    }
  }
}
/// footer
#main-footer {
  // only using one column footer - want it center
  //margin-top: -400px;
  #footer-widgets {
    //padding-top: 0px;
    .et_pb_widget {
      width: 100%;
    }
  }
  #footer-bottom {
    position: relative;
  }
}
@import "partials/media"; // keep at bottom;
