/*
 Theme Name:  HHMarine
 Theme URI:
 Description:   Divi Child theme for H &H Marine
 Author URI:   https://reacmaine.com
 Template:     Divi
 Version:      1.0.0
*/

/*****Add any custom CSS below this line*****/

@import "partials/colors";
@import "partials/basics";
@import "partials/tablepress";
@import "partials/divi-blog";
@import "partials/gform";
// header
#et_mobile_nav_menu {
  .select_page {
    color: transparent;
  }
}
#top-menu li a,
#et_mobile_nav_menu li a {
  line-height: 1.4em;
}

// content
body.home {
  #main-footer {
    // only using one column footer - want it center
    //margin-top: -400px;
    #footer-widgets {
      padding-top: 0px;
    }
  }
}
// blog styling for "featured" blog post...
.hhm-blog-img-right { // also see media...
  .entry-title {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

  }
  .post-content {
    padding-left: 20px;
    a.more-link {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
// single post
article.et_pb_post{
  .hhm_caption  {
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    font-color: $hhm-med-blue;
    font-style: italic;
    margin-top: -8px;
  }
}
/// footer
#main-footer {
  // only using one column footer - want it center
  //margin-top: -400px;
  #footer-widgets {
    //padding-top: 0px;
    .et_pb_widget {
      width: 100%;
    }
  }
  #footer-bottom {
    position: relative;
  }
}
@import "partials/media"; // keep at bottom;
